<footer class="footer">
  <div class="columns">
    <div class="column is-3 has-text-centered">
      <ul>
        <li class="is-size-7"><a routerLink="/">Página Inicial</a></li>
        <li class="is-size-7"><a routerLink="/animais">Animais</a></li>
        <li class="is-size-7">
          <a routerLink="/pedidos-ajuda">Pedidos de Ajuda</a>
        </li>
      </ul>
    </div>
    <div class="column is-3 has-text-centered">
      <ul>
        <li class="is-size-7">MBWAY: 919516631</li>
        <li class="is-size-7">NIB: 0033 0000 454 721 282 20 05</li>
      </ul>
    </div>
    <div class="column is-2 has-text-centered">
      <ul>
        <li class="is-size-7">
          <span class="icon is-small is-left">
            <a href="https://www.facebook.com/refugioanimalangels" target="_blank"
              ><i class="fab fa-facebook"></i
            ></a>
          </span>
        </li>
        <li class="is-size-7">
          <span class="icon is-small is-left">
            <a href="https://www.instagram.com/refugio_animal_angels/" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </span>
        </li>
      </ul>
    </div>
    <div class="column is-4 has-text-centered">
      <p class="is-size-7">Refúgio Animal Angels</p>
      <p class="is-size-7">Associação de Proteção à Fauna e Flora</p>
      <p class="is-size-7">NIF: 513643095</p>
    </div>
  </div>
</footer>
