<div class="section">
  <!-- Search Section -->
  <div class="container">
    <app-search [searchForm]="searchForm"></app-search>
  </div>
  <!-- Listing Section -->
  <div class="container listing">
    <div class="columns is-multiline">
      <ng-container *ngIf="data; else loading">
        <div class="column is-one-quarter" *ngFor="let item of data">
          <div class="card" (click)="navigateToDetail(item)">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  [hidden]="item.photo.loaded"
                  [src]="getPhoto(item.photo)"
                  alt="item.alternativeText"
                  (load)="item.photo.loaded = true"
                />
                <img
                  *ngIf="!item.photo.loaded"
                  src="/assets/dog_placeholder.png"
                />
              </figure>
            </div>
            <div class="card-content">
              <p class="is-size-4">{{ item.name }}</p>

              <div class="content">
                <time class="is-size-7">{{ item.publishedAt }}</time>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <!-- Pagination -->
  <app-pagination *ngIf="dataSize > 0"
    [pageNumber]="pageNumber"
    [pageSize]="pageSize"
    [_dataSize]="dataSize"
    (pageNumberChanged)="onPageNumberChanged($event)"
  ></app-pagination>
</div>

<!-- Loader -->
<ng-template #loading>
  <app-animal-card-placeholder></app-animal-card-placeholder>
</ng-template>
