.listing {
  margin-top: 1.5rem;
  min-height: calc(100vh - 344px);

  .tags {
    .text {
      visibility: hidden;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 25px;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;
    }

    &:hover {
      cursor: pointer;

      .text {
        visibility: visible;
      }
    }
  }

  .card {
    box-shadow: 0 0.2em 1em -0.125em rgba(10, 10, 10, 0.1),
      0 0 0 1px rgba(10, 10, 10, 0.02);

    &:hover {
      box-shadow: 0 1em 1em -0.125em rgba(10, 10, 10, 0.1),
        0 0 0 1px rgba(10, 10, 10, 0.02);
      transition: 0.3s;

      .card-image {
        img {
          transition: 0.3s;
          transform: scale(1.2);
          transform-origin: 50% 50%;
        }
      }
    }

    .card-image {
      overflow: hidden;

      img {
        transition: 0.3s;
        object-fit: cover;
      }
    }
  }
}

.content {
  white-space: pre-wrap;
}

.rotated {
  transform: rotate(180deg);
}

.card-media {
  float: left;

  img {
    height: 96px;
    width: 96px;
    object-fit: cover;
  }
}

app-animal-card-placeholder {
  width: 100%;
}
