<div class="section">
  <!-- Listing Section -->
  <div class="container listing">
    <div class="columns">
      <div class="column is-two-fifths">
        <p class="is-size-3">Como ajudar?</p>
        <div *ngFor="let paymentMethod of paymentMethods">
          <div class="block"></div>
          <ng-container [ngSwitch]="paymentMethod.type">
            <ng-container *ngSwitchCase="'nib'">
              <div class="field is-grouped is-grouped-multiline my-2">
                <div class="control">
                  <div class="tags has-addons">
                    <span class="text">NIB</span>
                    <span class="tag is-dark is-medium"
                      ><span class="icon">
                        <i class="fas fa-money-check"></i></span
                    ></span>
                    <span class="tag is-info is-medium">
                      {{ paymentMethod.description }}
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'iban'">
              <div class="field is-grouped is-grouped-multiline my-2">
                <div class="control">
                  <div class="tags has-addons">
                    <span class="text">IBAN</span>
                    <span class="tag is-dark is-medium"
                      ><span class="icon">
                        <i class="fas fa-money-check"></i></span
                    ></span>
                    <span class="tag is-info is-medium">
                      {{ paymentMethod.description }}
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'mbway'">
              <div class="field is-grouped is-grouped-multiline my-2">
                <div class="control">
                  <div class="tags has-addons">
                    <span class="text">MBWAY</span>
                    <span class="tag is-dark is-medium"
                      ><span class="icon"> <i class="fas fa-phone"></i></span
                    ></span>
                    <span class="tag is-info is-medium">
                      {{ paymentMethod.description }}
                    </span>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="column">
        <p class="is-size-3">Pedidos de Ajuda</p>
        <div class="block"></div>
        <ng-container *ngIf="data; else loading">
          <div *ngFor="let item of data">
            <!-- is-hidden -->
            <div class="card is-fullwidth mb-4">
              <header class="card-header">
                <p class="card-header-title">{{ item.title }}</p>
                <a
                  class="card-header-icon card-toggle"
                  [ngClass]="{ rotated: item.isOpen }"
                  (click)="changeOpenedState(item)"
                >
                  <i class="fa fa-angle-down"></i>
                </a>
              </header>
              <div
                class="card-content"
                [ngClass]="{ 'is-hidden': !item.isOpen }"
              >
                <div *ngIf="item.image" class="card-media pr-4">
                  <figure class="image">
                    <img
                      [src]="getPhoto(item.image)"
                      alt="item.image.alternativeText"
                    />
                  </figure>
                </div>
                <div class="content">{{ item.description }}</div>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- Pagination -->
        <app-pagination *ngIf="dataSize > 0"
          [pageNumber]="pageNumber"
          [pageSize]="pageSize"
          [_dataSize]="dataSize"
          (pageNumberChanged)="onPageNumberChanged($event)"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>

<!-- Loader -->
<ng-template #loading>
  <app-help-request-placeholder></app-help-request-placeholder>
</ng-template>
