<div class="section">
  <!-- Search Section -->
  <div class="container">
    <h1 class="title">O que deseja pesquisar?</h1>
    <div class="columns">
      <div class="column">
        <div class="box" (click)="navigateToDog()">
          <figure class="image is-4by3">
            <img id="dog" src="/assets/dog_face.jpg" alt="Dog face" />
          </figure>
        </div>
      </div>
      <div class="column">
        <div class="box" (click)="navigateToCat()">
          <figure class="image is-4by3">
            <img id="cat" src="/assets/cat_face.jpg" alt="Cat face" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
