<div class="section">
  <div class="container is-max-desktop">
    <div class="columns">
      <div class="column is-10">
        <img src="/assets/homepage.png"/>
      </div>
      <div class="column">
        <div class="box">
          <h2>Quero Ajudar</h2>
          <button class="button is-fullwidth" (click)="goToAnimals()">ANIMAIS</button>
          <button class="button is-fullwidth" (click)="goToHelpRequests()">PEDIDOS AJUDA</button>
        </div>
      </div>
    </div>
  </div>
</div>
